body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-block {
    display: flex;
    flex-direction: row;
    height: 56px;
}

.list-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

.list-element {
  cursor: pointer;
}

.list-element:hover {
    color: #1976d2;
}

.list-genre {
    column-count: 5
}

.instruction-block {
    width: 400px;
    font-size: 14px;
    padding-bottom: 20px;
}

.error {
    color: red;
    font-size: 16px;
}